*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(10,108,241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#box1{
    width: 400px;
    height: 110px;
    /* border: 2px solid red; */
    margin: 3%;
    padding: 30px 25px;
    border-radius: 8px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
#date{
    width: 204px;
    height: 50px;
    border-radius: 5px;
    padding: 0 20px;
}

#box1 > button{
    width: 104px;
    height: 50px;
    border-radius: 5px;
   
}

#box2{
    width: 400px;
    height: 100px;
    /* border: 2px solid black; */
    justify-content: space-between;
    display: flex;
    border-radius: 8px;
    
    
}
#box2 > div{
    /* border: 2px solid green; */
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: black;
}
div > span{
    color: white;
    font-size: 1.7rem;
}
div > p{
    color: rgb(112,110,109);
}

.com{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

